body{
    font-family: Montserrat, 'Times New Roman', Times, serif;
    background-image: url(./Fotos/Diagonal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 10px;
    font-family: Montserrat;

}


section{
    margin: auto;
    text-align: center;

}
div{
    width: 24%;
    height: 80px;
    margin: auto;
    background-color: transparent;
    
}
#Titulo{
    position: absolute;
    top: 25%; /* Ajusta la posición vertical */
    left: 12%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(27deg); /* Rotación de 45 grados */
    font-size: 3.2rem;
    color: #3bfaf0; /* Color neón verde */
    text-shadow: 0 0 30px #3bfaf0, 0 0 40px #3bfaf0, 0 0 50px #3bfaf0;
    white-space: nowrap; /* Evita que el texto se quiebre */
}
#Titulo1{
    position: absolute;
    top: 45%; /* Ajusta la posición vertical */
    left: 12%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(20deg); /* Rotación de 45 grados */
    font-size: 3.2rem;
    color: #fffb00; /* Color neón verde */
    text-shadow: 0 0 10px #fffb00, 0 0 20px #fffb00, 0 0 30px #fffb00;
    white-space: nowrap; /* Evita que el texto se quiebre */
}

#a1{
    position: absolute;
    top: 30%; /* Ajusta la posición vertical */
    left: 85%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(330deg); /* Rotación de 45 grados */
    font-size: 2rem;
    color: #00ff00; /* Color neón verde */
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    white-space: nowrap; /* Evita que el texto se quiebre */
}

#a2{
    position: absolute;
    top: 40%; /* Ajusta la posición vertical */
    left: 90%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(336deg); /* Rotación de 45 grados */
    font-size: 2rem;
    color: #00ff00; /* Color neón verde */
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    white-space: nowrap; /* Evita que el texto se quiebre */
}