body{
    font-family: Montserrat, 'Times New Roman', Times, serif;
    background-image: url(./Fotos/Diagonal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 10px;

}


section{
    margin: auto;
    text-align: center;

}
div{
    width: 24%;
    height: 80px;
    margin: auto;
    background-color: transparent;
    
}
#Titulo{
    color:  #00ffff;
    text-decoration: none;
    font-size:4em;
    text-shadow:0px 0px 20px #00ffff;
    font-weight: 600;
}
#a1{
    position: absolute;
    top: 10%; /* Ajusta la posición vertical */
    left: 10%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(29deg); /* Rotación de 45 grados */
    font-size: 2rem;
    color: #00ff00; /* Color neón verde */
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    white-space: nowrap; /* Evita que el texto se quiebre */
}

#a2{
    position: absolute;
    top: 40%; /* Ajusta la posición vertical */
    left: 10%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(15deg); /* Rotación de 45 grados */
    font-size: 2rem;
    color: #00ff00; /* Color neón verde */
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    white-space: nowrap; /* Evita que el texto se quiebre */
}