body{
    background-image: url(https://media.istockphoto.com/id/457551271/es/foto/pared-de-ladrillos.webp?b=1&s=170667a&w=0&k=20&c=_ZAIZQyvKDxbGKIJG9z1bBoPQmn-9OR3d2cotAmDtR0=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 10px;
    font-family:Neon;
    width: 100vw;
    height: 100vh;
}
strong{
    font-weight: normal;
}

u{
 text-decoration: none;


}
section{
    margin: auto;
    text-align: center;

}
div{
    width: 24%;
    height: 80px;
    margin: auto;
    background-color: transparent;
    
}
#Titulo{
    position: absolute;
    top: 19%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(0deg); /* Rotación de 45 grados */
    font-size: 5rem;
    color: #7b52dab0; /* Color neón verde */
    text-shadow: 0 0 0px #ffffff, 0 0 20px #7b52dab0, 0 0 30px #7b52dab0;
    white-space: nowrap; /* Evita que el texto se quiebre */
}
#Titulo:hover{
    text-shadow: 0 0 5px #ffffff, 0 0 20px #6c2dff, 0 0 30px #6c2dff; 
}

#Titulo1{
    position: absolute;
    top: 2%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(0deg); /* Rotación de 45 grados */
    font-size: 7rem;
    color: #6c2dff; /* Color neón verde */
    text-shadow: 0 0 0px #ffffff, 0 0 20px #6c2dff, 0 0 30px #6c2dff;
    white-space: nowrap; /* Evita que el texto se quiebre */
}
#Titulo1:hover{
    text-shadow: 0 0 5px #ffffff, 0 0 20px #6c2dff, 0 0 30px #6c2dff;
}


#a1{
    position: absolute;
    text-decoration: none;
    top: 45%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(0deg); /* Rotación de 45 grados */
    font-size: 5rem;
    color: #00ccff; /* Color neón verde */
    text-shadow: 0 0 0px #00ccff, 0 0 10px #00ccff, 0 0 10px #00ccff;
    white-space: nowrap; /* Evita que el texto se quiebre */
    transition: 1s ease;
}


#a1:hover{
    
    text-shadow: 0 0 3px #ffffff, 0 0 20px #00ccff, 0 0 30px #00ccff;
}


#a2{
    position: absolute;
    text-decoration: none;
    top: 60%; /* Ajusta la posición vertical */
    left: 30%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(0deg); /* Rotación de 45 grados */
    font-size: 4rem;
    color: #ff33ee; /* Color neón verde */
    text-shadow: 0 0 0px #ffffff, 0 0 20px #ff33ee, 0 0 30px #ff33ee;
    white-space: nowrap; /* Evita que el texto se quiebre */
    transition: 0.3s ease;
}
#a2:hover{
    font-size: 5rem;
    text-shadow: 0 0 2px #ffffff, 0 0 20px #ff33ee, 0 0 30px #ff33ee;

}
#a3{
    position: absolute;
    text-decoration: none;
    top: 60%; /* Ajusta la posición vertical */
    left: 70%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(0deg); /* Rotación de 45 grados */
    font-size: 4rem;
    color: #a760ff; /* Color neón verde */
    text-shadow: 0 0 2px #ffffff, 0 0 20px #a760ff, 0 0 30px #a760ff;
    white-space: nowrap; /* Evita que el texto se quiebre */
    transition: 0.3s ease;
}
#a3:hover{
   
    font-size: 5.3rem;
    text-shadow: 0 0 2px #ffffff, 0 0 20px #a760ff, 0 0 30px #a760ff;


}
#a4{
    position: absolute;
    text-decoration: none;
    top: 75%; /* Ajusta la posición vertical */
    left: 30%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(0deg); /* Rotación de 45 grados */
    font-size: 4rem;
    color: #7b52dab0; /* Color neón verde */
    text-shadow: 0 0 0px #ffffff, 0 0 20px #7b52dab0, 0 0 30px #7b52dab0;
    white-space: nowrap; /* Evita que el texto se quiebre */
    transition: 0.3s ease;
}
#a4:hover{
   
    font-size: 5.3rem;
    text-shadow: 0 0 2px #ffffff, 0 0 40px #7b52dab0, 0 0 40px #7b52dab0;


}
#a5{
    position: absolute;
    text-decoration: none;
    top: 75%; /* Ajusta la posición vertical */
    left: 70%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(0deg); /* Rotación de 45 grados */
    font-size: 4rem;
    color: #00ccff; /* Color neón verde */
    text-shadow: 0 0 0px #00ccff, 0 0 10px #00ccff, 0 0 10px #00ccff;
    white-space: nowrap; /* Evita que el texto se quiebre */
    transition: 0.3s ease;
}
#a5:hover{
   
    font-size: 5.3rem;
    text-shadow: 0 0 3px #ffffff, 0 0 20px #00ccff, 0 0 30px #00ccff;


}
#a6{
    position: absolute;
    text-decoration: none;
    top: 90%; /* Ajusta la posición vertical */
    left: 30%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(0deg); /* Rotación de 45 grados */
    font-size: 4rem;
    color: #00ccff; /* Color neón verde */
    text-shadow: 0 0 0px #00ccff, 0 0 10px #00ccff, 0 0 10px #00ccff;
    white-space: nowrap; /* Evita que el texto se quiebre */
    transition: 0.3s ease;
}
#a6:hover{
   
    font-size: 5.3rem;
    text-shadow: 0 0 3px #ffffff, 0 0 20px #00ccff, 0 0 30px #00ccff;


}



#a7{
    position: absolute;
    text-decoration: none;
    top: 90%; /* Ajusta la posición vertical */
    left: 70%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%) rotate(0deg); /* Rotación de 45 grados */
    font-size: 4rem;
    color: #ff33ee; /* Color neón verde */
    text-shadow: 0 0 2px #ffffff, 0 0 20px #ff33ee, 0 0 30px #ff33ee;
    white-space: nowrap; /* Evita que el texto se quiebre */
    transition: 0.3s ease;
}
#a7:hover{
   
    font-size: 5.3rem;
    text-shadow: 0 0 2px #ffffff, 0 0 20px #ff33ee, 0 0 30px #ff33ee;


}

@media(max-width:1000px){

#a2{
    top: 45%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    font-size: 2rem;

}
#a3{
    top: 50%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    font-size: 2rem;
}
#a4{
    top: 55%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    font-size: 2rem;
}
#a5{
    top: 60%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    font-size: 2rem;
}
#a6{
    top: 65%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    font-size: 2rem;
}
#a7{
    top: 70%; /* Ajusta la posición vertical */
    left: 50%;/* Ajusta la posición horizontal */
    font-size: 2rem;
}

#Titulo{
    top: 19%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    font-size: 2.5rem;
}


#Titulo1{
    font-size: 3rem;
    top: 10%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
}



#a1{
    position: absolute;
    top: 30%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    font-size: 2.5rem;
  
}










}