.root{
    --colo1:#4fc3dc;
    --colo2:#ff2d75;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height:100%;
    background:#000000; 
    font-size: 10px;
    /* #0c192c */
    text-align: center;
    font-family: "Roboto Mono", monospace;


}
.container{ 
    position:fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    z-index: -2;

}
.burbujas{
    position: relative;
    display: flex;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.burbu_spam {
    position: relative;
    width: 20px;
    height: 20px;
    background: #4fc3dc;
    margin:0 3px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 50px  #4fc3dc; 
    animation: animate 15s linear infinite; 
    animation-duration: calc(90s / var(--i));
}
.burbu_spam1 {
    position: relative;
    width: 20px;
    height: 20px;
    background: #040542;
    margin:0 3px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #04054244, 0 0 50px #040542, 0 0 50px  #040542; 
    animation: animate 15s linear infinite; 
    animation-duration: calc(80s / var(--i));
}
.burbu_spam3{
    position: relative;
    width: 20px;
    height: 20px;
    background: #6c2dff;
    box-shadow: 0 0 0 10px #6c2dff40, 
    0 0 50px #6c2dff, 
    0 0 50px  #6c2dff;
    border-radius: 50%;
    animation: animate 15s linear infinite;
    animation-duration: calc(70s / var(--i));
}
.burbu_spam4{
    position: relative;
    width: 20px;
    height: 20px;
    background: #11755c;
    box-shadow: 0 0 0 10px #11755c60, 
    0 0 50px #11755c, 
    0 0 50px  #11755c;
    border-radius: 50%;
    animation: animate 15s linear infinite;
    animation-duration: calc(60s / var(--i));
}


@keyframes animate{
    0%{
        transform:translateY(100vh)scale(0);
    }
    100%{
        transform: translateY(-10vh)scale(2);
    }
}


header{
    width: 100%;
    background-color: transparent;
    z-index:10;
    position: fixed;
    top: 0;
}

.nav{
   background-color:hsl(213, 16%, 11%);
 

}
.navlistmother{
    margin:0;
    text-align: center;

}

.navlist{
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
}
.navlist:hover{
    background-color:#64748d;

}


.navlink{
    font-size: 3.5em;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    color: #9ea8b1;
    font-family:Neon;
    white-space: nowrap;
    text-shadow: 0 0 10px #23346d46, 0 0 40px #6c2dff, 0 0 30px #6c2dff;
}



.grid{
    display: grid;
    grid-template-areas: 
    "titulo"
    "resumen"
    "experiencia"
    "habilidades"
    "educacion"
    "Proyectos"
    "Competencias";
    text-align: center;
}
.Titulo{
    grid-area: titulo;
    border: 15px solid transparent;
    
    

}
h1{
    font-size: 8em;
    color:#000000;
    font-family:Neon;
    white-space: nowrap;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #3357f8cb, 0 0 30px #3357f8cb;
   

}
h2{
    font-size: 6em;
    color: #000000;
    font-family:Neon;
    white-space: nowrap;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #3357f8cb, 0 0 30px #3357f8cb;

}

h3{
    font-size: 6em;
    color: #000000;
    font-family:Neon;
    white-space: nowrap;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #3357f8cb, 0 0 30px #3357f8cb;
    margin:  25px 0 25px 0;
    margin: 5px;
    


}



.containerresume{
    grid-area: resumen;
    display: flex;
    justify-content: center;
    border: 10px;


}

.resume{
    width: 80%;
    border: 1px solid #0c192c50;
    box-shadow:0 0 0 10px #04054244, 0 0 50px #040542, 0 0 50px  #040542; 
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    background-color: #121e3080;
    

}
.resumeimage{
    border: none;
    width: 30%;

}
.resumetext{
    color: #ffffff;
    font-size: 2.1em;
    text-align: center;
    padding: 15px 5px;
    align-content: center;
}


/* Zona de Experencia */


.container_expe{
    grid-area: experiencia;
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-areas:
    "head head head"
    "exp1 exp2 exp3"




}
.Tituloexp{
    grid-area: head;
    padding: 5px;
    margin:  25px 0 25px 0;
    


}


.subtitulo{
    font-size: 3em;
    color: #ffffff;
    
}
em{font-weight: bolder;

}

.item_exp{
    color: #ffffff;
    font-size: 1.5em;
    display: block;
    text-align: left;
    padding: 6px;

}
.cont_exp1{
    grid-area:exp1;
    padding: 5px;
    width: 90%;
    border: 1px solid #0c192c;
    box-shadow:0 0 0 10px #04054244, 0 0 50px #040542, 0 0 50px  #040542; 
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(to bottom, #040542, #04054244);
    height: 410px;

}
.cont_exp2{
    padding: 5px;
    grid-area:exp2;
    width: 90%;
    border: 1px solid #0c192c;
    box-shadow:0 0 0 10px #04054244, 0 0 50px #040542, 0 0 50px  #040542; 
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(to bottom, #040542, #04054244);
    height: 430px;
}

.cont_exp3{
    grid-area:exp3;
    padding: 5px;
    width: 90%;
    border: 1px solid #01060e;
    box-shadow:0 0 0 10px #04054244, 0 0 50px #040542, 0 0 50px  #040542; 
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(to bottom, #040542, #04054244);
    height: 400px;

}

/* logotipos */

.image_hab{
    background-image: url(https://media.istockphoto.com/id/457551271/es/foto/pared-de-ladrillos.webp?b=1&s=170667a&w=0&k=20&c=_ZAIZQyvKDxbGKIJG9z1bBoPQmn-9OR3d2cotAmDtR0=);
    background:cover;
    padding: 0;
    grid-area:habilidades ;
}


/* Estudios */

.img_est{
    width: 40%;
}
#img{
    width: 35%;
}

.container_estu{
    grid-area:educacion ;
    display: grid;
    grid-template-areas:
    "head head head"
    "est1 est2 est3";
    margin: auto;
    text-align: center;
    width: 90%;
    
    
}

.formacion{
    grid-area: head;
    padding: 20px 0 20px 0;
   


}


.cont_est1{
    grid-area:est1;
    padding: 5px;
    width: 90%;
    border: 1px solid #01060e;
    box-shadow:0 0 0 10px #04054244, 0 0 50px #040542, 0 0 50px  #040542; 
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(to bottom, #040542, #04054244);
    


}
.cont_est2{
    grid-area:est2;
    padding: 5px;
    width: 90%;
    border: 1px solid #01060e;
    box-shadow:0 0 0 10px #04054244, 0 0 50px #040542, 0 0 50px  #040542; 
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(to bottom, #040542, #04054244);

    
}

.cont_est3{
    grid-area:est3;
    padding: 5px;
    width: 90%;
    border: 1px solid #01060e;
    box-shadow:0 0 0 10px #04054244, 0 0 50px #040542, 0 0 50px  #040542; 
    border-radius: 10px;
    margin: auto;
    
    background: linear-gradient(to bottom, #040542, #04054244);

    
}
.subtituloes{
    color: #ffffff;
    font-size: 3em;
    text-align: center;

}
.estext{
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;


}

/* proyecto */

.proyectos{
    margin: 30px 0px 15px 0px;

}

.cont_pro{
    grid-area:Proyectos;
    
}

.proyec_div{
    padding: 5px;
    width: 90%;
    border: 1px solid #01060e;
    box-shadow:0 0 0 10px #04054244, 0 0 50px #040542, 0 0 50px  #040542; 
    border-radius: 10px;
    margin: auto;
    background: linear-gradient(to bottom, #04054244, #040542);
}

.textproyectos{
    text-align: justify;
    padding: 5px 30px;

}
.Pyton2{
    filter:drop-shadow(0 0 0 500px #ffffff44, 0 0 50px #040542, 0 0 100px  #040542);
    padding: 1px 0px;
    
}

.prouectp_python{
    display: grid;
    grid-template-areas: 
    "py1 py2 py3"
    "py4 py5 py6";
    margin: auto;
    

    flex-wrap: wrap;
}
.Pyimeg{
    width: 70%;
    margin: auto;
    border-radius: 5px;
    filter: drop-shadow(0 0 0 500px #ffffff);
    
    

}
.py1{
    grid-area: py1;
    

}
.py2{
    grid-area: py2;

}
.py3{
    grid-area: py3;
 
}
.py4{
    grid-area: py4;

}
.py5{
    grid-area: py5; 
}
.py6{
    grid-area: py6;

}

/* footer */

.footer{
    width: 100%;
    background: linear-gradient(to bottom, #2528cf44, #040542);
    margin: 40px 0px 0px 0px;

}
.final{
    width: 100%;
    background: linear-gradient(to bottom, #2528cf44, #040542);
}


.menu{
    display: flex;
    justify-content: space-around;



}
.menu-elem{ 
    display: inline-block;
    font-size: 2em;

}
.textf{
    font-size: 2em;
    color: #363799;

}
.menu-icon{
    text-decoration: none;


}